<div class="bg-light p-4 " >
    <a class="btn bg-main text-white mt-5 " [routerLink]="['/checkout/',cart.data._id]"> CheckOut</a>
    <div class="d-flex justify-content-between mt-3 p-4">
        <h3> Number of Items :<span class="text-main"> {{cart.numOfCartItems}}</span></h3>
        <h3> Total price : <span class="text-main">{{cart.data.totalCartPrice}} </span></h3>
    </div>
    <div class="row align-items-center " *ngFor="let product of cart.data.products">
    <div class="col-md-2">
        <div>
            <img [src]="product.product.imageCover" class="w-100 ">
        </div>
    </div>
    <div class="col-md-8">
       <div>
        <h4>{{product.product.title}}</h4>
        <span class="text-main">{{product.price}}</span>
        <div class="remove">
            <span class="text-danger" (click)="removeItem(product.product.id)">
                <i class="fa fa-trash "></i>
                remove
            </span>
        </div>
       </div>
    </div>
    <div class="col-md-2 d-flex justify-content-between ">
        <button class="btn btn-update" (click)="updateCart(product.product.id,product.count+1 )">+</button>
        <span>{{product.count}}</span>
        <button class="btn btn-update" (click)="updateCart(product.product.id,product.count-1 )">-</button>
    </div>
    </div>
</div>
