<!-- Button trigger modal -->
<h2 class=" text-main d-flex justify-content-center mt-5 p-3 "><b>All Brands</b></h2>
    <div class="container ">
        <div class="row">
         <div class="col-md-3" (click)="imagePath=item.image" (click)="itemName=item.name" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngFor="let item of brandItem">
             <div class="product p-2 shadow  ">
              <img [src]="item.image" class="w-100 h-100  ">
              <span class="d-flex justify-content-center ">{{item.name}}</span>
             </div>
     </div>
        </div>
       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel"></h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body"  >
                <div class="d-flex justify-content-between " >
                    <h1 class="text-main fw-bold mt-5 " >{{itemName}} <br>
                        <span class="text-black fs-5 fw-normal m-0 text-lowercase ">{{itemName}}</span></h1> 
                     <img [src]="imagePath" >
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>             </div>
           </div>
         </div>
       </div>
